.reel {
  background-color: $color-reel-background;
  height: 48vh;
  width: 16.7vh;
  box-shadow: inset 0px 35px 15px -10px rgba(0, 0, 0, 0.9),
    inset 0px -35px 15px -10px rgba(0, 0, 0, 0.9);
}

@media (min-width: 1550px) {
  .reel {
    width: 15vw;
    height: 26vw;
  }
}
