.slot-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slot-machine {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-left: 1vh;
  margin-top: 15vh;
  width: 53vh;
  height: 53vh;
  overflow: hidden;
  @include border-radius(20px);
}

@media (min-width: 1550px) {
  .slot-machine {
    width: 28.5vw;
    height: 29vw;
  }
}
