.slot-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slot-machine {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-left: 1vh;
  margin-top: 15vh;
  width: 53vh;
  height: 53vh;
  overflow: hidden;
  position: relative;
  @include border-radius(20px);
}

.slot-machine::before,
.slot-machine::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  z-index: 2;
  height: 60px;
}

.slot-machine::before {
  top: 2.5vh;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 1), transparent);
}

.slot-machine::after {
  bottom: 2.5vh;
  background: linear-gradient(to top, rgba(0, 0, 0, 1), transparent);
}

@media (min-width: 1550px) {
  .slot-machine {
    width: 28.5vw;
    height: 29vw;
    margin-top: 13vh;
  }
}
